.resume-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
  }

  .resume-container h3:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
    color: rgb(203, 209, 243);
    background-color: rgb(73, 128, 255);
    border-radius: 5px;
    display: inline-block;
  }

  .resume-container h2:hover {
    transform: scale(1.5);
    transition: transform 0.3s ease-in-out;
    color: rgba(2, 0, 139, 0.752);
    border-radius: 5px;
  }